{# templates/post/create.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un post{% endblock %}

{% block body %}
    <h1>Créer un post</h1>

    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
        <button type="submit">Publier</button>
    {{ form_end(form) }}
{% endblock %}
