{# templates/post/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}<h1 style="margin-top: 100px;">Créer un nouveau post</h1>{% endblock %}

{% block body %}
    <h1 style="margin-top: 100px;">Créer un post</h1>

    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
        {{ form_row(form.new_image) }}
        <button type="submit">Créer le post</button>
    {{ form_end(form) }}

    <h2>Posts créés</h2>
    <ul class="post-list">
    <div class="mangas-container">
    {% for post in posts %}
        <div class="manga-card">
            <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="{{ post.titre }}">
            <h3>{{ post.titre }}</h3>
            <p>{{ post.description }}</p>
        </div>
    {% endfor %}
    </div>


{% endblock %}

