{# templates/post/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}<h1 style="margin-top: 100px;">Créer un nouveau post</h1>{% endblock %}

{% block body %}
    <h1 style="margin-top: 100px;">Créer un post</h1>

    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
        {{ form_row(form.new_image) }}
        <button type="submit">Créer le post</button>
    {{ form_end(form) }}

    <h2>Posts créés</h2>
    <ul class="post-list">
    {% for post in posts %}
        <li class="post-item">
            <div class="post-image-container">
                {% if post.image %}
                    <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="{{ post.image }}">
                {% endif %}
                <div class="post-overlay">
                    <h3>{{ post.titre }}</h3>
                    <p>{{ post.description }}</p>
                </div>
            </div>
        </li>
    {% else %}
        <p>Aucun post n'a été créé pour le moment.</p>
    {% endfor %}
</ul>

{% endblock %}

